/* full screen center */
.admin-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
}

/* content box */
.admin-card {
  padding: 40px 60px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  text-align: center;
}

/* text */
.admin-card h1 {
  color: #000;
  margin-bottom: 12px;
}

.admin-card p {
  color: #000;
  font-size: 18px;
}
